<!-- echartNo： 同一个页面中 改模板被使用的次数
	 echartId： 每个模板对应得echartId -->
<#if echartNo??>
	<#assign echartNo = echartNo + 1 />
	<#else>
	<#assign echartNo = 1 />
</#if>
<#if !echartId??>
	<#assign echartId = 'base-piechart1-No' + echartNo />
</#if>


<!-- 图表容器 -->
<!-- 
	echartId: 容器ID 若未指定则由模板自身创建
	echartWidth：容器宽度 未指定则默认100%
	echartHeight：容器高度 未指定则默认400px
 -->
<div id="${echartId }"  style="width: ${(echartWidth)!'100%'}; height:${(echartHeight)!'400px'};"></div>



<!-- 图表js -->
<!-- 
	echartUrl: 图表数据请求地址 
	echartMethod：请求数据方法 未指定则默认get
	echartTitle: 图表标题 未指定则默认为 '标题'
	echartSubtitle：图表副标题 未指定则默认为 '副标题'
	nameField: 请求数据 名 字段 未指定则直接拿去结果数据中的 res.data.legendData 和  res.data.seriesData
	valueField：请求数据 值 字段 未指定则直接拿去结果数据中的 res.data.legendData 和  res.data.seriesData
 -->
<script type="text/javascript">
$(function() {
	<#if echartUrl??>
		$.${(echartMethod)!'get'}('${echartUrl}', function(res) {
			var legendData = null, seriesData = null;
			<#if nameField?? && valueField??>
				var opt  = handleRequestDataForEchart_1(res.data, '${nameField}', '${valueField}');
				legendData = opt.legendData;
				seriesData = opt.seriesData;
				<#else>
				legendData = res.data.legendData;
				seriesData = res.data.seriesData;
			</#if>
			
			setTimeout(() => {
				var basePieChart1No${echartNo } = myEchart.pie_1(document.getElementById('${echartId }'), {
					title: "${(echartTitle)!'标题'}",
					subTitle: "${(echartSubtitle)!'副标题'}",
					legend_data: legendData,
					series_data: seriesData
				});
			}, 400);
		});
		<#else>
	</#if>
	
});
</script>

<#assign echartId = 'base-piechart1-No' + (echartNo+1) />