<div class="header-bg">
	<!-- Navigation Bar-->
	<header id="topnav">
		<div class="topbar-main">
			<div class="container-fluid">

				<!-- LOGO模块 -->
				<#include "./header-logo-template.html" />

				<!-- 顶部右侧 个人功能模块 -->
				<#include "./header-right-personal.html" />

				<div class="clearfix"></div>
			</div>
		</div>

		<!-- 后台管理 菜单模块 -->
		<#include "./header-menu-template.html" />

		<!-- 后台管理 页面头模块 -->
		<div class="container-fluid">
			<#include "./header-title-template.html" />
		</div>
	</header>
</div>