<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- 引入springboot的默认日志文件配置 包含一些基本配置  -->
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    
    
    <!-- ↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓ 变量配置开始 ↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓ -->
    <!-- 日志文件目录 开发环境基本都是windows选一个文件夹存放生成的日志文件 -->
    <property name="LOG_DICTIONARY" value="D:/MyLogTest2" />
    <property name="PATTERN" value="%-12(%d{yyyy-MM-dd HH:mm:ss}) |-%highlight(%-5level) [%22thread] %45logger{40} [%4L] -| %cyan(%msg) %n" />
    
    <!-- 生成info级别和其上等级的日志文件 在上一步骤的文件夹下创建子目录  -->
    <property name="DEV_FILE_PATH_INFO" value="${LOG_DICTIONARY}/info/log.log" />
    <property name="DEV_FILE_PATH_WARN" value="${LOG_DICTIONARY}/warn/log.log" />
    <property name="DEV_FILE_PATH_ERROR" value="${LOG_DICTIONARY}/error/log.log" />
    <property name="DEV_FILE_PATH_FATAL" value="${LOG_DICTIONARY}/fatal/log.log" />

    <!-- ↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑ 变量配置结束 ↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑ -->
    
    
    
    
    
    <!-- ↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓ appender 日志打印器配置开始 ↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓ -->

	<!-- 控制台打印 info级别 -->
	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender"> 
        <encoder>
            <pattern>${PATTERN}</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>
    
    <!-- 输出日志文件 info级别  -->
    <appender name="DEV-FILE-INFO" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!-- 文件路径选用变量配置处 info日志文件路径 -->
        <file>${DEV_FILE_PATH_INFO}</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!-- 文件名称 -->
            <fileNamePattern>${DEV_FILE_PATH_INFO}.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <!-- 文件最大保存历史数量 -->
            <MaxHistory>100</MaxHistory>
            <MaxFileSize>10MB</MaxFileSize>
        </rollingPolicy>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>${FILE_LOG_PATTERN}</pattern>
        </layout>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
	        <level>info</level>
	        <onMatch>ACCEPT</onMatch>
	        <onMismatch>DENY</onMismatch>
	    </filter>
    </appender>
    
    <!-- 输出日志文件 warn级别  -->
    <appender name="DEV-FILE-WARN" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${DEV_FILE_PATH_WARN}</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${DEV_FILE_PATH_WARN}.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <MaxHistory>100</MaxHistory>
            <MaxFileSize>10MB</MaxFileSize>
        </rollingPolicy>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>${FILE_LOG_PATTERN}</pattern>
        </layout>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
	        <level>warn</level>
	        <onMatch>ACCEPT</onMatch>
	        <onMismatch>DENY</onMismatch>
	    </filter>
    </appender>
    
    <!-- 输出日志文件 error级别  -->
    <appender name="DEV-FILE-ERROR" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${DEV_FILE_PATH_ERROR}</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${DEV_FILE_PATH_ERROR}.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <MaxHistory>100</MaxHistory>
            <MaxFileSize>10MB</MaxFileSize>
        </rollingPolicy>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>${FILE_LOG_PATTERN}</pattern>
        </layout>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
	        <level>error</level>
	        <onMatch>ACCEPT</onMatch>
	        <onMismatch>DENY</onMismatch>
	    </filter>
    </appender>
    
    <!-- 输出日志文件 fatal级别  -->
    <appender name="DEV-FILE-FATAL" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${DEV_FILE_PATH_FATAL}</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${DEV_FILE_PATH_FATAL}.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <MaxHistory>100</MaxHistory>
            <MaxFileSize>10MB</MaxFileSize>
        </rollingPolicy>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>${FILE_LOG_PATTERN}</pattern>
        </layout>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
	        <level>fatal</level>
	        <onMatch>ACCEPT</onMatch>
	        <onMismatch>DENY</onMismatch>
	    </filter>
    </appender>
    
    <!-- ↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑ appender 日志打印器配置结束 ↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑ -->
    
    
    
    
    
    <!-- ↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓ appender 绑定开始 ↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓ -->
    <!-- 输出info级别上的日志  -->
    <root level="info">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="DEV-FILE-INFO"/>
        <appender-ref ref="DEV-FILE-WARN"/>
        <appender-ref ref="DEV-FILE-ERROR"/>
        <appender-ref ref="DEV-FILE-FATAL"/>
    </root>
    <!-- ↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑ appender 绑定结束 ↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑ -->
</configuration>

